# Dependencies
/node_modules
/.pnp
.pnp.js

# Production
/build
/.next/
/out

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store